services:
  web:
    build:
      context: .
      dockerfile: Dockerfile.dev
      args:
        NPM_TOKEN: ${NPM_TOKEN}
    env_file:
      - .env.local
    ports:
      - "3000:3000"
    restart: unless-stopped
