@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* COLORS */
    --accent-1: #FFE974;
    --accent-1-foreground: #000;
    --accent-1-hover: 44, 97%, 40%;

    --like: #f788d2;
    --like-foreground: #000000;
    --like-hover: #f32fb2;

    --background: #101010;
    --background-border: #000000;
    --foreground: 0 100% 100%;

    --muted: #1f1f1f;
    --muted-hover: #141414;
    --muted-foreground: #929292;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;

    --primary: 0 100% 100%;
    --primary-subued: 0 0% 65%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: #0e0e0e;
    --secondary-foreground: #fff;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: ;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --ring: 240 3.7% 15.9%;

    --radius: 0.5rem;

    /* NAVBAR */
    --navbar-background-color: #000000;

    /* SCROLLBAR */
    --scrollbar: #858585;
    --scrollbar-hover: #383838;

    /* HEIGHT */
    --height-header: 64px;
    --height-navbar: 80px;
  }

  .light {
    /* COLORS */
    --accent-1: #FFE974;
    --accent-1-foreground: #000;
    --accent-1-hover: 44, 97%, 40%;

    --like: #f788d2;
    --like-foreground: #000000;
    --like-hover: #f32fb2;

    --background: #fff;
    --background-border: #b1b1b1;
    --foreground: 0 100% 100%;

    --muted: #0e0e0e;
    --muted-foreground: #929292;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;

    --primary: 0 100% 100%;
    --primary-subued: 0 0% 65%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: #0e0e0e;
    --secondary-foreground: #fff;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: ;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --ring: 240 3.7% 15.9%;

    --radius: 0.5rem;

    /* NAVBAR */
    --navbar-background-color: #000000;

    /* SCROLLBAR */
    --scrollbar: #858585;
    --scrollbar-hover: #383838;

    /* HEIGHT */
    --height-header: 64px;
    --height-navbar: 70px;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      'rlig' 1,
      'calt' 1;
  }
}

html,
body {
  position: fixed;
  touch-action: none;
  /* -webkit-user-select: none; */
  /* user-select: none; */
}

/* Scroll bar stylings */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--lightestgrey); 
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--scrollbar); 
    /* border-radius: 5px; */
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-hover); 
  }

/* @tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
