@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* COLORS */
    --accent-1: 51 100% 73%;
    --accent-1-foreground: 0 0% 0%;
    --accent-1-hover: 44 97% 40%;

    --accent-pink: 320 87% 75%;
    --accent-pink-foreground: 0 0% 0%;
    --accent-pink-hover: 320 89% 57%;

    --background: 0 0% 6%;
    --background-border: 0 0% 0%;
    --foreground: 0 100% 100%;

    --muted: 0 0% 8%;
    --muted-hover: 0 0% 12%;
    --muted-foreground: 0 0% 57%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --card: 0 0% 8%;
    --card-foreground: 0 0% 100%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;

    --primary: 0 0% 100%; /* 0 100% 100% */
    --primary-subued: 0 0% 65%;
    --primary-foreground: 0 0% 6% /* 240 5.9% 10% */;

    --secondary: 0 0% 5%;
    --secondary-foreground: 0 0% 100%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: ;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --ring: 240 3.7% 15.9%;

    --radius: 0.5rem;

    /* NAVBAR */
    --navbar-background-color: 0 0% 4%;

    /* SCROLLBAR */
    --scrollbar: #858585;
    --scrollbar-hover: #383838;

    /* HEIGHT */
    --height-header: 64px;
    --height-navbar: 80px;
    
    --sidebar-background: 0 0% 6%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 51 100% 73%;
    --sidebar-primary-foreground: 0 0% 0%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
    /* --sidebar-background: 0 0% 0%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%; */
  }

  .light {
    /* COLORS */
    --accent-1: 51 100% 73%;
    --accent-1-foreground: 0 0% 0%;
    --accent-1-hover: 44 97% 40%;

    --accent-pink: 320 87% 75%;
    --accent-pink-foreground: 0 0% 0%;
    --accent-pink-hover: 320 89% 57%;

    --background: 0 0% 6%;
    --background-border: 0 0% 0%;
    --foreground: 0 100% 100%;

    --muted: 0 0% 12%;
    --muted-hover: 0 0% 8%;
    --muted-foreground: 0 0% 57%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;

    --primary: 0 100% 100%;
    --primary-subued: 0 0% 65%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 0 0% 5%;
    --secondary-foreground: 0 0% 100%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: ;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --ring: 240 3.7% 15.9%;

    --radius: 0.5rem;

    /* NAVBAR */
    --navbar-background-color: 0 0% 0%;

    /* SCROLLBAR */
    --scrollbar: #858585;
    --scrollbar-hover: #383838;
  }
  /* .dark {
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  } */
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}


@layer base {
  body {
    font-feature-settings:
      'rlig' 1,
      'calt' 1;
  }
  .clickable {
    @apply cursor-pointer hover:text-accent-pink;
  }
}

* {
  min-width: 0;
}

html,
body {
  background-color: var(--background)!important;
  white-space: pre-wrap;
  /* position: fixed;
  touch-action: none; */
  /* -webkit-user-select: none; */
  /* user-select: none; */
}

/* Scroll bar stylings */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  }

/* Track */
::-webkit-scrollbar-track {
    background: var(--lightestgrey); 
  }

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--scrollbar);
  }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-hover); 
  }

/* .lucide {
  width: 1rem;
  height: 1rem;
} */

/* @tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
